<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="br.srv.cabral.discursation"
      android:versionName="1.1" android:versionCode="2">
      <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="10" />


    <application android:icon="@drawable/logotipo48x48" android:label="@string/geral_NomeDoSistema">
        <activity android:label="@string/geral_NomeDoSistema" android:name=".janelas.JanelaInicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".janelas.JanelaGenerica"></activity>

    </application>
</manifest>